@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.checkmarx {  
  transform: scale(0.9);
  display: grid;  
  gap: 20px;  
  grid-template-columns: repeat(2, 1fr); // 2 columns  
  grid-auto-rows: minmax(180px, auto); 
  min-height: calc(100vh - 120px);

  .formHeading{
    padding:10px;
    padding-bottom: 15px;  
  }
  
  .select-box {  
    grid-column: 1 / -1; // Full width  
    padding: 30px;  
    // border: 2px solid $soft-bg;  
    max-width: 800px;
    align-content: justify;
  }
  
  .graph-box {  
    padding: 20px;  
    border-radius: 10px;  
    border: 2px solid $soft-bg;  
  }

  .table{
    grid-column: 1 / -1; // Full width  
    width: 98%;
    margin: 0 auto;
    padding: 10px;
  }  
}

